@{
    ViewBag.Title = "Contact";
}
<img class="hidden-sm hidden-xs hidden-md  img-responsive" alt="Blue Flower" src="~/images/middleschool.png">
<h2>@ViewBag.Title.</h2>
 

<address>
    <strong>Email:</strong> <a href="mailto:info@huaxiabh.org">info@huaxiabh.org</a><br />
    <strong>Phone:</strong> 908-3120186<br />
    <strong>Mail Address:</strong>
        <br />
       364 Springfield Ave #539<br />
       Berkeley Heights, NJ 07922<br />
    <strong>School Address:</strong>
    <br />
    345 Plainfield Ave<br /> Berkeley Heights, NJ 07922
</address>