
@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for signing up. Please check your email and confirm your email address.
    </p>
    <p>
        The email might take about 5 minutes to get to your mailbox. Please check your spam folder as well.
    </p>
</div>
