@model web.Models.MessageModel

@{
    ViewBag.Title = "Policies";
}

<div class="row">
    <div class="col-md-8">
        <img class="hidden-sm hidden-xs hidden-md  img-responsive" alt="Blue Flower" src="~/images/middleschool.png">
        @Html.Raw(Model.Current.body)
    </div>
    
</div>


